
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Resume - Start Bootstrap Theme</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Jade Langeveld</span>
                <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-1" src="~/Images/Profile.jpg" /></span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-white fw-bold">
                <li>
                    <link rel="icon" href="~/Images/location.jpg" />
                    Port Elizabeth, South Africa
                </li>
                    <li>jadelangeveld@gmail.com</li>
                    <li>081-745-3434</li>
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Jade
                        <span class="text-primary">Langeveld</span>
                    </h1>
                    <p class="lead mb-5">I am a 23-year-old student from Port Elizabeth, South Africa. Currently, I'm doing my Advanced Diploma in Software Development at Nelson Mandela University. I consider myself to be a hard worker who emjoys a challenge. I am an organized individual who does their best to complete tasks in an efficient manner. Additionally, I am a quick thinker and I enjoy learning new ways to complete tasks, as well as, improving my own set of skills.</p>
                    <p class="lead mb-5">Being a software development student has taught me how to manage my time and how to work well with others. I enjoy being part of a team of like minded individuals, as I am a social person. In addition to this, it taught me how to solve problems in an efficient and effective way. Considering the field I am in, I need to stay updated with regards to new technological skills, therefore I find that my quick thinking is an important skill to have.</p>
                    <p class="lead mb-5">I am sure that my skills and knowledge will make me a worthy candidate and I trust that I will be a valuable addition to your team. Thank you so much for taking the time to consider my application and please feel free to contact me if you have any futher questions.</p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experience</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Young Park Primary School</h3>
                            <div class="subheading mb-3">Stationery Sales & Administration Work</div>
                            <ul>
                                <li>Assisting customers and providing excellent customer service.</li>
                                <li>Assisting with inventory, including receiving and stock merchandising.</li>
                                <li>Adding new students to the school system and updating existing information.</li>
                                <li>Assiting with storing file records.</li>
                            </ul>
                            <div class="subheading mb-3">Reference</div>
                            <p>Mariska Vosloo (Young Park Primary School)<br /> 041-452-3131/084-311-5618</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">January 2018, 2019, 2020, 2023</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">St Cuthbert's Anglican Church</h3>
                            <div class="subheading mb-3">Sunday School Teacher</div>
                            <ul>
                                <li>Planning lessons for each session.</li>
                                <li>Assisting with younger children.</li>
                            </ul>
                            <div class="subheading mb-3">Reference</div>
                            <p>Varity Langeveld (St Cuthbert's Anglican Church)<br /> 087-528-6043</p>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">March 2017 - December 2017</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Education</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Collegiate Girls High School</h3>
                            <div class="subheading mb-3">Subjects:</div>
                            <ul>
                                <li>English Home Language</li>
                                <li>Afrikaans First Additional Language</li>
                                <li>Mathematics</li>
                                <li>Life Orientation</li>
                                <li>Life Science</li>
                                <li>History</li>
                                <li>Computer Applications Technology</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Matriculated 2014-2018</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">CISCO Networking Academy</h3>
                            <div class="subheading mb-3">IT Essentials Course</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">February 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Nelson Mandela University</h3>
                            <div class="subheading mb-3">Higher Certificate - Support Services</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2019 - 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                         <div class="flex-grow-1">
                            <div class="subheading mb-3">National Diploma - Software Development</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2020 - 2022</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <div class="subheading mb-3">Advanced Diploma/BTech - Software Development</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">2023 - current</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Teamwork <br/>
                        <img src="~/Images/skill1.png" width="200"/>
                    </div>
                    <div class="subheading mb-3">Communication <br/>
                        <img src="~/Images/skill1.png" width="200"/>
                    </div>
                    <div class="subheading mb-3">Time Management <br/>
                        <img src="~/Images/skill2.png" width="200"/>
                    </div>
                    <div class="subheading mb-3">Microsoft Office <br/>
                        <img src="~/Images/skill2.png" width="200"/>
                    </div>
                    <div class="subheading mb-3">Visual Studio <br/>
                        <img src="~/Images/skill1.png" width="200"/>
                    </div>
                    <div class="subheading mb-3">Microsoft SQL Server <br/>
                        <img src="~/Images/skill1.png" width="200"/>
                    </div>

                </div>
            </section>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>

